<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Picture url:</strong>
  <%= @user.picture_url %>
</p>

<p>
  <strong>Attempts:</strong>
  <%= @user.attempts %>
</p>

<p>
  <strong>Last login:</strong>
  <%= @user.last_login %>
</p>

<p>
  <strong>Local host:</strong>
  <%= @user.local_host %>
</p>

<p>
  <strong>Status cd:</strong>
  <%= @user.status_cd %>
</p>

<p>
  <strong>Register date:</strong>
  <%= @user.register_date %>
</p>

<p>
  <strong>Website:</strong>
  <%= @user.website %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Private:</strong>
  <%= @user.private %>
</p>

<p>
  <strong>Similar:</strong>
  <%= @user.similar %>
</p>

<p>
  <strong>Hide comments:</strong>
  <%= @user.hide_comments %>
</p>

<p>
  <strong>Custom keywords:</strong>
  <%= @user.custom_keywords %>
</p>

<p>
  <strong>News email:</strong>
  <%= @user.news_email %>
</p>

<p>
  <strong>Reminder email:</strong>
  <%= @user.reminder_email %>
</p>

<p>
  <strong>Product email:</strong>
  <%= @user.product_email %>
</p>

<p>
  <strong>Research email:</strong>
  <%= @user.research_email %>
</p>

<p>
  <strong>Sms:</strong>
  <%= @user.sms %>
</p>

<p>
  <strong>User name:</strong>
  <%= @user.user_name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
