<%= form_with(model: follower, local: true) do |form| %>
  <% if follower.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(follower.errors.count, "error") %> prohibited this follower from being saved:</h2>

      <ul>
      <% follower.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :follower_user_id %>
  </div>

  <div class="field">
    <%= form.label :follower_id %>
    <%= form.number_field :follower_id, id: :follower_follower_id %>
  </div>

  <div class="field">
    <%= form.label :modified_date %>
    <%= form.datetime_select :modified_date, id: :follower_modified_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
