<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong>Picture url:</strong>
  <%= @post.picture_url %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @post.comments %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @post.likes %>
</p>

<p>
  <strong>Modified date:</strong>
  <%= @post.modified_date %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
